<app-nav-principal></app-nav-principal>


<div class="container-fluid pageHeader">
    <div class="row">

        <div class="col-12 container-title">
               
                   <div class="title mt-5">
                        {{titlePage}}
                   </div> 
        </div>

    </div>

  
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <ng-content>
               
            </ng-content>
        </div>
    </div>
</div>



<div class="spasso mt-5"></div>
<app-footer></app-footer>