.container-title{
    margin-top: 100px;
    height: 250px;
    background:  url("./../../../assets/images/capa2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: white;
    font-family:  'Playfair';
    font-weight: bold;
    font-size: 45px;
    

.title{
   
   font-weight: 400;
}




    
}

img{
    
    height: 400px;
    width: 400px;
}

