<app-template-content [titlePage]="titlePage">


    <div class="container-fuid">
        <div class="row">
            <div class="col-md-12">
                <img src="{{dataArea.icone}}" alt="">
                <p innerHTML="{{dataArea.descricao}}"></p>      </div>
          
    
            
        </div>

        <div class="row">

        

                <div class="col-md-12">
                    <a  href="https://api.whatsapp.com/send?phone=5555996753805&text=Olá%20tudo%20bem%20%20preciso%20de%20um%20advogado%20!!" class="btn-wp btn btn-outline-success"> 
                        <i class="fa fa-whatsapp" aria-hidden="true"> 
                            Chamar no Whatsapp</i> 
                      </a>
               
              
                        <a target="_blank" href="https://www.linkedin.com/in/priscila-morais-de-almeida-14486087/">
                            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                          </a>
                          <a target="_blank" href="https://www.facebook.com/advogadapriscilamorais">
                            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
                          </a>
                          <a target="_blank" href="https://www.instagram.com/primorais.adv/">
                           <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                          </a>
                
               
        
        
          
              
                
               
              

            </div>
        </div>
    </div>

</app-template-content>


