.container{
    padding: 50px;


}


.card
{
    padding: 20px;
}


    .img-capa{
        height: 100px;
        width: 600px;

    }
    h1{
        font-size: 24px;
    }


    .content{
        overflow: ellipsis;
    }

