<app-template-content [titlePage]="'Áreas de Atuação'">


<div class="areas-atuacao">
    <div class="row">

        <div *ngFor="let area of areas" class="col-md-4 col-xs-12">
          <div class="card ml-1">
            <div class="bg-img rounded-circle ml-0">
              <img src="./../../../assets/images/direito_civil.png" class="rounded-circle mt-2 ml-1" alt="">   
            </div>
            <div class="title-card">
              <strong>{{area.nome}}</strong>
              <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
              <button [routerLink]="['/areas-atuacao/'] + area.nome"class="btn btn-sm btn-default-screen">Saiba Mais</button>
            </div>
    
             </div>
          </div>
        

          

        </div>
</div>



  </app-template-content>