<app-template-content [titlePage]="'Áreas de Atuação'">


<div class="areas-atuacao">
    <div class="row">

        <div class="col-md-4 col-xs-12">
          <div class="card ml-1">
            <div class="bg-img rounded-circle ml-0">
              <img src="./../../../assets/images/direito_civil.png" class="rounded-circle mt-2 ml-1" alt="">   
            </div>
            <div class="title-card">
              <strong>Direito Civil</strong>
              <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
              <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
            </div>
    
             </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="card ml-1">
              <div class="bg-img rounded-circle ml-0">
           
                <img src="./../../assets//images/direito_previdenciario.png" class="rounded-circle mt-2 ml-1" alt="">
      
                
              </div>
      
              <div class="title-card">
                <strong>Direito Previdenciario</strong>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
                <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
              </div>
      
               </div>
            </div>


            <div class="col-md-4 col-xs-12">
                <div class="card ml-1">
                  <div class="bg-img rounded-circle ml-0">
               
                    <img src="./../../assets/images/direito-familia.png" class="rounded-circle mt-2 ml-1" alt="">
          
                    
                  </div>
          
                  <div class="title-card">
                    <strong>Direito de Familia</strong>
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
                    <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
                  </div>
          
                   </div>
                </div>


                <div class="col-md-4 col-xs-12">
                    <div class="card ml-1">
                      <div class="bg-img rounded-circle ml-0">
                   
                        <img src="./../../assets//images/direito_previdenciario.png" class="rounded-circle mt-2 ml-1" alt="">
              
                        
                      </div>
              
                      <div class="title-card">
                        <strong>Indenizatórios e Cobranças</strong>
                        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
                        <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
                      </div>
              
                       </div>
                    </div>
        

                    
                    <div class="col-md-4 col-xs-12">
                        <div class="card ml-1">
                          <div class="bg-img rounded-circle ml-0">
                       
                            <img src="./../../assets//images/direito_consumidor.png" class="rounded-circle mt-2 ml-1" alt="">
                  
                            
                          </div>
                  
                          <div class="title-card">
                            <strong>Direitos do Consumidor</strong>
                            <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
                            <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
                          </div>
                  
                           </div>
                        </div>
            

                        
                        <div class="col-md-4 col-xs-12">
                            <div class="card ml-1">
                              <div class="bg-img rounded-circle ml-0">
                           
                                <img src="./../../assets/images/inventario.png" class="rounded-circle mt-2 ml-1" alt="">
                      
                                
                              </div>
                      
                              <div class="title-card">
                                <strong>Inventários</strong>
                                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
                                <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
                              </div>
                      
                               </div>
                            </div>
                
                

          

        </div>
</div>



  </app-template-content>