.mat-form-field{
    width: 100%;
}

.card{
    padding: 40px;
}

.width{
    height: 300px;
}

.title-card{
    margin: auto;
}

button{
    background-color: #614349;
    width: 100%;
    color: white;
}

input{
    color: white(236, 0, 0);
}

.themeWhite{
    color: white;
}



