<div class="footer-body">
    <div class="container">
        <div class="row ">

            <div class="col-md-4">
                <h1 class="mt-5">Sobre</h1>
                <p>
                    Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.
                    Override .

                   </p>



<div class="area-contacts">
    <div class="container-fluid">
      <div class="row">
 
          <div class="col-md-6 col-xs-12">
            <div class="contactsinfo">
              <i class="fa fa-phone" aria-hidden="true"></i> (55) 996753805

              <i class="fa fa-envelope-o" aria-hidden="true">contato@priscilamorais.com</i>
         
            </div>
          </div>
      
         


          <div class="col-md-5 col-xs-12 whats">

       
              <a target="_blank" href="https://www.linkedin.com/in/priscila-morais-de-almeida-14486087/">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/advogadapriscilamorais">
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/primorais.adv/">
               <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </a>
         
  

          <a href="https://api.whatsapp.com/send?phone=5555996753805&text=Olá%20tudo%20bem%20%20preciso%20de%20um%20advogado%20!!" class="btn btn-sm btn-outline-danger">
            <i class="fa fa-whatsapp" aria-hidden="true"></i> Chamar no Whatsapp
          </a>
         </div>


        
      </div>
    

    </div>
</div>
             
            </div>
            <div class="col-md-4">
                <h1 class="mt-5">Contato</h1>

                <p>Avenida Senador Pinheiro Machado, n 3000, Sala 02, São Luiz Gonzaga</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1754.667305995376!2d-54.9545284285064!3d-28.409158568482844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ff1923de1ad7c7%3A0x4cf54f83f86c6f2e!2sPriscila%20Morais%20de%20Almeida%20-%20Advogada!5e0!3m2!1spt-BR!2sbr!4v1584749370251!5m2!1spt-BR!2sbr" width="300" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
           
             </div>
            <div class="col-md-4">

               <a href="./contato" class="btn-custom" mat-raised-button>Entre em Contato</a>
                  
            </div>


        </div>

        <p  class="copriright mt-5">
            <a target="_blank" href="https://www.linkedin.com/in/thales-morais/">
                © Site desenvolvido por Thales Morais de Almeida.
            </a>
        </p>
    </div>
</div>
