.card{
    background-color: transparent;
}
.contat-area{
    color: white ;
}
.footer-body{
    height: 400px;
    
    text-align: center;
    background: #4F202A;
    color: white;

    @media only screen and (max-width: 900px){
        height: 900px;
    }
    h4{
        font-weight: bold;
        font-family: "Playfair Display";
        padding: 10px;
        text-align: center;
    }

    .btn-custom{
        margin-top: 180px;
        background-color: brown;
        color: white;
    }

    li{

        h1{
            align-items: center;
            margin-left: 10px;
        }
        
        list-style-type: none;
        text-align: center;
       
        a{
            text-decoration: none;
            color: white;
        }
    }
}


.formcontato{
    height: 300px;
}
.link-custom{
   
    h1{
        margin-left: 60px;
    }
}

.copriright{

    a{
        list-style-type: none;
        color: white;
    }

}



i{
    margin: 5px;

}