.footer-body{
    height: 400px;
    text-align: center;
    background: #4F202A;
    color: white;
    h4{
        font-weight: bold;
        font-family: "Playfair Display";
        padding: 10px;
        text-align: center;
    }

    li{
        
        list-style-type: none;
        text-align: center;
        &:hover{
            border-bottom: red solid 1px;
            transition: 2s;     
        }
        a{
            text-decoration: none;
            color: white;

    
        }
    }
}

.copriright{

    a{
        list-style-type: none;
        color: white;
    }

}