

<div class="area-contacts">
    <div class="container">
      <div class="row">
 
          <div class="col-md-7 col-xs-12">
            <div class="contactsinfo">
              <i class="fa fa-phone" aria-hidden="true"></i> Telefone: 55 996753805 | 
              <i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail: pmorais@hotmai.com
         
            </div>
          </div>
      
         


          <div class="col-md-5 col-xs-12 whats">

       
              <a target="_blank" href="https://www.linkedin.com/in/priscila-morais-de-almeida-14486087/">
                <i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/priscila.morais.14">
                <i class="fa fa-facebook-official fa-1x" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/primorais.adv/">
               <i class="fa fa-instagram fa-1x" aria-hidden="true"></i>
              </a>
         
  

          <a href="https://api.whatsapp.com/send?phone=5555996753805&text=Ola%20tudo%20bem%20%20preciso%20de%20um%20advogado%20!!" class="btn btn-sm btn-outline-danger">
            <i class="fa fa-whatsapp" aria-hidden="true"></i> Chamar no Whatsapp
          </a>
         </div>


        
      </div>
    

    </div>
</div>

<div class="container-data">
 

  <div class="welcome">
 
    
     
        <h1>Priscila Morais de Almeida</h1>
        <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum. Suspendisse viverra, magna quis viverra venenatis, enim orci congue eros, ut aliquet diam nisl blandit dolor. 
          Ut justo sem, facilisis ut posuere in, commodo at lorem.
        </p>
        
        <button class="btn-default-screen btn btn-lg btn-success">Saiba Mais</button>
   
      
    
  
  </div>

  
  <nav [ngClass]="showNavScroll" class="navbar navbar-collapse navbar-expand-lg navbar-light bg-light fixed-top {{mtop}} margo">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo-foda.png" alt="">

    </a>

    <button class="navbar-toggler" (click)="showMenuMobile()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="{{collapseMenuMobile}} navbar-collapse" id="navbarSupportedContent">
  
    <ul class="nav navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/areas-atuacao']" class="nav-link" href="#">Áreas de Atuação</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/../../../blog/page/1']" class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contato']" class="nav-link" href="#">Contato</a>
      </li>
  
  
    </ul>
    </div>
  </div>
  
  

  
  
  </nav>



</div>



<div class="container areas-atuacao mt-5">
  <div class="row">

    <div class="col-md-4 col-xs-12">
      <div class="card ml-1">
        <div class="bg-img rounded-circle ml-0">
     
          <img src="./../../../assets/images/direito_civil.png" class="rounded-circle mt-2 ml-1" alt="">

          
        </div>

        <div class="title-card">
          <strong>Direito Civil</strong>
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
          <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
        </div>

         </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="card ml-1">
          <div class="bg-img rounded-circle ml-0">
            <img src="./../../../assets/images/direito-familia.png" class="rounded-circle mt-2 ml-1" alt="">
          </div>
          <div class="title-card">
            <strong>Direito de Familia</strong>
            <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
            <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
          </div>

           </div>
        </div>

        <div class="col-md-4 col-xs-12">
          <div class="card ml-1">
            <div class="bg-img rounded-circle ml-0">
              <img src="./../../../assets/images/direito_previdenciario.png" class="rounded-circle mt-2 ml-1" alt="">
            </div>
            <div class="title-card">
              <strong>Direito Previdenciario</strong>
              <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet et nunc ut condimentum.</p>
              <button class="btn btn-sm btn-default-screen">Saiba Mais</button>
            </div>
             </div>
          </div>


     
      
    </div>
  </div>


  <div class="sobre mt-5">
    <div class="container">
      <div class="row">
      <div class="col-md-4">
        <img src="./../../../assets/images/adv-person.png" alt="" class="img-thumnail">
        
      </div>
      <div class="col-md-7">
        <h2>Lutamos pela justiça, estamos sempre prontos para a melhor solução para o seu problema</h2>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. 
          Override the digital divide with additional clickthroughs from fruit to identify a ballpark value added. Nanotechnology immersion along the information highway will close.</p>
       

          <a target="_blank" href="https://www.linkedin.com/in/priscila-morais-de-almeida-14486087/">
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/priscila.morais.14">
            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/primorais.adv/">
           <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
          
         
        </div>
        </div>

   
      
    </div>


    <ng-content>
  
    </ng-content>
    <app-footer></app-footer>
  </div>  



