.container{
    padding: 20px;

}

.icons-contacts{
    margin: 10px;
}

a{
    height: 35px;
    align-items: center;

}

.mapa-local{
    width: 500px;
    height: 200px;

    @media only screen and (max-width: 770px) {
        width: 450px;
        height: 200px;
        
    }

    @media only screen and (max-width: 450px) {
        width: 350px;
        height: 200px;
        
    }

    @media only screen and (max-width: 400px) {
        width: 280px;
        height: 200px;
        
    }

}

.contacts-area{
    
    @media only screen and (max-width: 770px) {
        margin-top: 180px;
        
    }

}

i{
    bottom: 0;
    top: 0;
    margin: auto;
}

.social-medias{
    margin: 10px;


    i{
        margin: 2px;

        &:hover{
            color: brown;
            transition: 2s;
        }
    }



}