<app-template-content [titlePage]="'Contato'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <app-form-contato class="formulario" [size]="'12'" [title]="'Entre em contato conosco'"></app-form-contato>


              
                 
                
            </div>



            <div class="col-md-6 contacts-area">
              <div class="contacts-info">
                <i class="fa fa-envelope-o icons-contacts"> </i>  <strong>E-mail: </strong> <label for=""> contato@priscilamorais.com</label> <br>
                <i class="fa fa-phone icons-contacts" aria-hidden="true"></i> <strong>Telefone: </strong> <label for=""> (55) 9 9675 3805</label> <br>
                <a href="https://api.whatsapp.com/send?phone=5555996753805&text=Olá%20tudo%20bem%20%20preciso%20de%20um%20advogado%20!!" class="btn btn-outline-success"> 
                  <i class="fa fa-whatsapp" aria-hidden="true"> 
                      Chamar no Whatsapp</i> 
                </a> <br> <br>
  
  
                <div class="social-medias">
                  <a target="_blank" href="https://www.linkedin.com/in/priscila-morais-de-almeida-14486087/">
                      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/advogadapriscilamorais">
                      <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/primorais.adv/">
                     <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
              
  
  
                  <strong>Endereço: </strong><p>Avenida Senador Pinheiro Machado, n 3000, Sala 02, São Luiz Gonzaga</p>
                  <iframe _ngcontent-etj-c31="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1754.667305995376!2d-54.9545284285064!3d-28.409158568482844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ff1923de1ad7c7%3A0x4cf54f83f86c6f2e!2sPriscila%20Morais%20de%20Almeida%20-%20Advogada!5e0!3m2!1spt-BR!2sbr!4v1584749370251!5m2!1spt-BR!2sbr"  frameborder="0" allowfullscreen="" style="border: 0;"></iframe>
              </div>
              </div>
           
        </div>
    </div>



 
</app-template-content>
