<div class="area-contacts">
    <div class="container">
      <div class="row">
 
          <div class="col-md-7 col-xs-12">
            <div class="contactsinfo">
              <i class="fa fa-phone" aria-hidden="true"></i> Telefone: 55 996753805 | 
              <i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail: contato@priscilamorais.com
         
            </div>
          </div>
      
         


          <div class="col-md-5 col-xs-12 whats">

       
              <a target="_blank" href="https://www.linkedin.com/in/priscila-morais-de-almeida-14486087/">
                <i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/advogadapriscilamorais">
                <i class="fa fa-facebook-official fa-1x" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/primorais.adv/">
               <i class="fa fa-instagram fa-1x" aria-hidden="true"></i>
              </a>
         
  

          <a href="https://api.whatsapp.com/send?phone=5555996753805&text=Olá%20tudo%20bem%20%20preciso%20de%20um%20advogado%20!!" class="btn btn-sm btn-outline-danger">
            <i class="fa fa-whatsapp" aria-hidden="true"></i> Chamar no Whatsapp
          </a>
         </div>


        
      </div>
    

    </div>
</div>

<div class="container-data">
 



  <nav  [ngClass]="showNavScroll" class="navbar navbar-expand-lg navbar-light bg-light fixed-top {{mtop}} margo">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo-foda.png" alt="">

    </a>

    <button class="navbar-toggler" (click)="showMenuMobile()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" {{collapseMenuMobile}} navbar-collapse" id="navbarSupportedContent">
  
    <ul class="nav navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/areas-atuacao']" >Áreas de Atuação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog/page/1']">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contato']">Contato</a>
      </li>
  
  
    </ul>
    </div>
  </div>
  


  
  
  </nav>

  
</div>


